@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

body {
  background: #EBEEF4;
  color: #191536;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes heroui-bars {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.15;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  transform: scale(1) !important;
}